* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #111;
  color: #fff;
}

/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  width: 100%;
  max-width: 1440px;
  height: 95px;
  margin: 0 auto;
}

.namePortfolio {
  font-size: 2.5rem;
  cursor: pointer;
}

.header > img {
  display: none;
}

.nav-header {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-header > img {
  display: none;
}

.nav-header li {
  list-style: none;
}

.nav-header li > a {
  display: inline-block;
  color: #fff;
  font-size: 1.6rem;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.nav-header li > a:hover {
  transform: scale(1.1);
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  padding: 80px 100px;
  margin: 0 auto;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 50%;
}

.hero-info > p:first-child {
  font-size: 1.9rem;
  letter-spacing: 1.5px;
  line-height: 30px;
}

.hero-info > p:nth-child(2) {
  font-size: 1.4rem;
  letter-spacing: 1.5px;
  line-height: 20px;
  color: #D9D9D9;
}

.hero-info > a {
  width: fit-content;
  background-color: #34A7FF;
  padding: 15px 25px;
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
  text-decoration: none;
}

.hero-info > a:hover {
  transform: scale(1.2);
}

.photo {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 100%;
}

.photo img {
  width: inherit;
}

/* Container skills and tools */
.container-skills-tools {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.skills, .tools {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.skills > h3, .tools > h3 {
  font-size: 2rem;
  padding-bottom: 8px;
  border-bottom: 2px solid white;
  letter-spacing: 2px;
}

.skills-info-dev h5, .tools-info-dev h5 {
  font-size: 1.5rem;
  margin-bottom: 8px;
  letter-spacing: 1px;
}

.skills-info-dev > span,
.tools-info-dev > span {
  color: #D9D9D9;
  letter-spacing: 1px;
}

.contact {
  width: 750px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 50px;
}

.contact > p {
  font-size: 5.5rem;
  margin-bottom: 20px;
}

.contact > span {
  font-size: 2rem;
  color: #EF4565;
}

/* footer Section */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  margin-bottom: 100px;
}

.footer > p {
  font-size: 1.6rem;
}

.social-media {
  display:  flex;
  gap: 20px;
}

.social-media > li {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.linkedin {
  width: 20px;
  height: 20px;
}

/* Main section projects */
.projects {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.projects > h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
}
.project {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 500px;
  align-items: center;
  background: linear-gradient(to left, #131516, #0A2647);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.img-project {
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
  /* flex: 1; */
  justify-self: center;
}

.img-project > img {
  width: inherit;
}

.project-info {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  width: 460px;
}

.project-info > h2 {
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}

.project-info > p {
  font-size: 1.6rem;
  color: #9BA4AD;
  line-height: 25px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 15px;
}

.buttons a {
  text-decoration: none;
  color: black;
  padding: 12px 15px ;
  background-color: white;
  font-size: 1.6rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.buttons a:hover {
  transform: scale(1.1);
}

.buttons > a:nth-child(2) {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.second-image {
  order: 2;
}

.second-info {
  order: 1;
}

.second-project {
  background: linear-gradient(to right,
    #131516,
    #0A2647);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/* Media queries */

@media (width < 900px) {

  .header {
    padding: 0 15px;
  }

  .header > img {
    display: block;
    cursor: pointer;
  }

  .nav-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav-header {
    display: none;
  }

  .nav-header > img {
    display: block;
    cursor: pointer;
  }


  .nav-header > li {
    font-weight: bold;
  }

  .nav-header > li > a {
    font-size: 2.5rem;
  }
  .hero {
    flex-direction: column;
    padding: 80px 15px;
  }

  .hero-info {
    width: 100%;
    order: 2;
  }

  .photo {
    order: 1;
    margin-bottom: 50px;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .project {
    flex-direction: column;
    padding: 0 15px;
    height: auto;
    background: linear-gradient(to top, #131516, #0A2647);
  }

  .img-project {
    width: 100%;
    margin-bottom: 20px;
  }

  .project-info {
    width: 100%;
  }

  .second-project {
    order: 1;
  }

  .second-info {
    order: 2;
  }

  .container-skills-tools {
    flex-direction: column;
    padding: 0 15px;
  }

  .contact {
    width: 100%;
    padding: 0 15px;
  }

  .contact > p {
    font-size: 4rem;
  }

  .footer {
    flex-direction: column;
    padding: 0 15px;
    gap: 30px;
  }
}